---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Proyects from "@/components/sections/Proyects.astro"
import Skills from "@/components/sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
---

<Layout title="Portafolio Minimalista ERA">
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Proyects />
		<Skills />
	</main>

	<KeyboardManager />
</Layout>


<style>
	main {
		padding: 6rem;
		margin: auto;
		width: 100%;
	}	
</style>